<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>portal.edu</title>


    <!-- Montserrat Font -->

    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">

    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">

    <!-- Custom CSS -->


    <link href="{{ url_for('static', path='css/styles.css') }}" rel="stylesheet">
    <link rel="icon" href="{{ url_for('static', path='images/favicon.ico') }}" type="image/x-icon">



</head>

<body>
    <div class="grid-container">

        <!-- Header -->
        <header class="header">
            <div class="menu-icon" onclick="openSidebar()">
                <span class="material-icons-outlined">menu</span>
            </div>
            <div class="main-title">
                <p class="font-weight-bold">{% block main_title %}{% endblock %}</p>
            </div>
            <div class="header-right" style="border-radius: 5px; color: #9799ab; padding: 10px;">
                <span class="material-icons-outlined">person</span> {{user.username}}
            </div>
        </header>
        <!-- End Header -->

        <!-- Sidebar -->
        <aside id="sidebar">
            <div class="sidebar-title">
                <div class="sidebar-brand">
                    <span class="material-icons-outlined">book</span> PORTAL.EDU
                </div>
                <span class="material-icons-outlined" onclick="closeSidebar()">close</span>
            </div>

            <ul class="sidebar-list">
                <!-- {% block sidebarlist %} -->
                <li class="sidebar-list-item" onclick="gotoDashboard('{{session_id}}')">
                    <a>
                        <span class="material-icons-outlined">dashboard</span> Dashboard
                    </a>
                </li>
                <li class="sidebar-list-item" onclick="gotoUsers('{{session_id}}')">
                    <a>
                        <span class="material-icons-outlined">face</span> Users
                    </a>
                </li>
                <li class="sidebar-list-item" onclick="gotoSubjects('{{session_id}}')">
                    <a>
                        <span class="material-icons-outlined">description</span> Subjects
                    </a>

                </li>
                <li class="sidebar-list-item" onclick="gotoStudents('{{session_id}}')">
                    <a>
                        <span class="material-icons-outlined">group</span> Students
                    </a>

                </li>
                <li class="sidebar-list-item" onclick="gotoResults('{{session_id}}')">
                    <a>
                        <span class="material-icons-outlined">school</span> Results
                    </a>
                </li>
                <li class="sidebar-list-item" onclick="gotoExaminationBoard('{{session_id}}')">
                    <a>
                        <span class="material-icons-outlined">content_paste</span> Examination
                    </a>
                </li>
                <li class="sidebar-list-item" onclick="gotoCampuses('{{session_id}}')">
                    <a>
                        <span class="material-icons-outlined">apartment</span> Campuses
                    </a>
                </li>
                <li class="sidebar-list-item" onclick="gotoAdmissions('{{session_id}}')">
                    <a>
                        <span class="material-icons-outlined"> person_add </span> Admissions
                    </a>
                </li>
                <!-- {% endblock %} -->
                <li onclick="gotoLogin('{{session_id}}')" class="sidebar-list-item">
                    <a><span class="material-icons-outlined">logout</span>
                        Logout</a>
                </li>
                </li>
            </ul>

        </aside>
        <!-- End Sidebar -->

        <!-- Main -->
        <main class="main-container">
            {% block quickbutton %}{% endblock%}
            {% block content %}

            {% endblock %}


            <div class="main-cards">{% block main_cards %}{% endblock %}</div>
            <div class="charts">{% block charts %}{% endblock %}</div>
        </main>
        <!-- End Main -->

    </div>

    <!-- Scripts -->

    <script src="https://unpkg.com/sweetalert2@11/dist/sweetalert2.all.js"></script>
    <!-- ApexCharts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/apexcharts/3.35.3/apexcharts.min.js"></script>
    <!-- Custom JS -->
    <script src="{{ url_for('static', path='js/app.js') }}"></script>

</body>

</html>