{% extends "base.html" %}

{% block main_title%}<p class="font-weight-bold">EDIT USER</p>{% endblock %}

{% block sidebarlist %}
<li class="sidebar-list-item" onclick="gotoDashboard('{{session_id}}')">
    <a>
        <span class="material-icons-outlined">dashboard</span> Dashboard
    </a>
</li>
<!--
<li class="sidebar-list-item">
    <a href="/">
        <span class="material-icons-outlined">inventory_2</span> Products
    </a>
</li>
<li class="sidebar-list-item">
    <a href="/">
        <span class="material-icons-outlined">fact_check</span> Inventory
    </a>
</li>
<li class="sidebar-list-item">
    <a href="/">
        <span class="material-icons-outlined">add_shopping_cart</span> Purchase Orders
    </a>
</li>
<li class="sidebar-list-item">
    <a href="/">
        <span class="material-icons-outlined">shopping_cart</span> Sales Orders
    </a>
</li>
<li class="sidebar-list-item">
    <a href="/">
        <span class="material-icons-outlined">poll</span> Reports
    </a>
</li> -->
<li class="sidebar-list-item" onclick="gotoUsers('{{session_id}}')">
    <a>
        <span class="material-icons-outlined">face</span> Users
    </a>
</li>
{% endblock %}

{% block main_cards %}
<div class="form-container">

    <form onsubmit="updateUser(event,'{{session_id}}','{{user_to_edit.id}}')" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" value="{{user_to_edit.username}}" required>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" placeholder="Enter New Password" required>

        <label for="role">Role:</label>
        <select id="role" name="role">
            <option value="" disabled selected>{{user_to_edit.role.value}}</option>
            <option value="admin">admin</option>
            <option value="CI">CI</option>
            <option value="COO">COO</option>
            <option value="master">master</option>
        </select>

        <button type="submit">Update</button>
    </form>
</div>
{% endblock %}