{% extends "base.html" %}

{% block main_title %}EDIT USER {% endblock %}

{% block content %}

<div class="form-container">

    <form onsubmit="updateUser(event,'{{session_id}}','{{user_to_edit.id}}')" method="post">
        <div class="form-group">
            <div class="combination">
                <label for="username">Username:</label>
                <input type="text" class="input-box" id="username" name="username" value="{{user_to_edit.username}}"
                    required>

            </div>
            <div class="combination">
                <label for="password">Password:</label>
                <input type="text" class="input-box" id="password" name="password" value="{{user_to_edit.password}}"
                    required>
            </div>

        </div>
        <div class="form-group">
            <div class="combination"><label for="role">Role:</label>
                <select class="input-box" id="role" name="role">
                    <option value="{{user_to_edit.role.value}}" disabled selected>{{user_to_edit.role.value}}</option>
                    <option value="admin">admin</option>
                    <option value="CI">CI</option>
                    <option value="COO">COO</option>
                    <option value="master">master</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="combination"><button type="submit">Update</button></div>
        </div>




    </form>
</div>
{% endblock %}