{% extends "base.html" %}

{% block main_title%}ADD STUDENT
{% endblock %}
{% block quickbutton %}
<button id="toggleFormbutton"
    style="margin: 0px 0px 10px 5px; background-color: rgb(249, 151, 151);color: rgb(255, 255, 255);"
    onclick="togglestudentform()" class="quickbutton">+ Import Excel File
</button>

{% endblock %}
{% block content %}

<div class="form-container">

    <form onsubmit="uploadStudentsFile('{{session_id}}')" id="uploadStudentsheet" enctype="multipart/form-data" hidden>

        <div class="form-group">
            <div class="combination">
                <label for="fileInput" class="file-label">Choose File</label>
                <input style="border: none;" type="file" id="fileInput" name="xlsxfile" accept=".xls, .xlsx" required>
            </div>
        </div>
        <div class="form-group">
            <div class="combination">
                <button type="submit">Add</button>
            </div>
        </div>
    </form>

    <form id="studentForm" onsubmit="addStudent(event,'{{session_id}}')" enctype="multipart/form-data">
        <div class="form-group">
            <div class="combination">
                <label for="student_name">Student Name:</label>
                <input type="text" class="input-box" id="student_name" name="student_name"
                    placeholder="Enter Student' Name" required>
            </div>
            <div class="form-group">
                <div class="combination">
                    <label for="campus_id">Campus:</label>
                    <select class="input-box" id="campus_id" name="campus_id">
                        {% for campus in campuses %}
                        <option value="{{campus.campus_id}}">{{campus.campus_name}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <div class="form-group">

            <div class="combination">
                <label for="parent_name">Parent's Name:</label>
                <input type="text" class="input-box" id="parent_name" name="parent_name" placeholder="Enter Parent Name"
                    required>
            </div>
            <div class="combination"> <label for="parent_contact">Parent's Contact:</label>
                <input type="text" class="input-box" id="parent_contact" name="parent_contact"
                    placeholder="Enter Contact No." required>
            </div>
        </div>

        <div class="form-group">
            <div class="combination">
                <label for="group">Group:</label>
                <select class="input-box" id="group" name="group">

                    <option value="Pre-Engineering" selected>Pre-Engineering</option>
                    <option value="Biology">Biology</option>
                    <option value="Computer-Science">Computer-Science</option>

                </select>
            </div>
            <div class="combination">
                <label for="roll_no">Roll Number:</label>
                <input type="text" class="input-box" id="roll_no" name="roll_no" placeholder="Enter Roll Number"
                    required>
            </div>

        </div>


        <div class="form-group">
            <div class="combination">
                <label for="batch">Batch:</label>
                <input type="text" class="input-box" id="batch" name="batch" placeholder="Enter Batch" required>
            </div>
            <div class="combination">
                <label for="date_joined">Joining Date:</label>
                <input type="date" class="input-box" id="date_joined" name="date_joined" required>
            </div>


        </div>

        <div class="form-group">
            <div class="combination">
                <label for="reference">Reference:</label>
                <input type="text" class="input-box" id="reference" name="reference" placeholder="Reference" required>
            </div>
            <div class="combination">
                <label for="percentage">Percentage (Last Class):</label>
                <input type="number" class="input-box" id="percentage" name="percentage" placeholder="Percentage"
                    required>
            </div>


        </div>
        <div class="form-group">
            <div class="combination">
                <button type="submit">Add Student</button>
            </div>

        </div>


    </form>

</div>

{% endblock %}