<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="{{ url_for('static', path='css/styles.css') }}">
</head>

<body id="login-body" onload="sendMessage('{{message}}')">
    <div id="login-container">
        <center>
            <h2>Login</h2>

            <form action="/login" method="post">
                <input type="text" id="username" name="username" placeholder="Enter username" required>
                <input type="password" id="password" name="password" placeholder="Enter Password" required>
                <br />
                <button type="submit" id="login-button">Login</button>
        </center>
        </form>
    </div>
    <script src="https://unpkg.com/sweetalert2@11/dist/sweetalert2.all.js"></script>
    <script src="{{ url_for('static', path='js/app.js') }}"></script>
</body>

</html>