{% extends "base.html" %}

{% block main_title%}
{{subject_name}}
{% endblock %}

{% block main_cards %}
<div style="display: flex;flex-direction: row;flex-wrap: wrap;min-width: 144vh;">

        <div onclick="gotoMonthlySubjectResult('{{session_id}}', '{{subject_id}}')"  style="background: url('../static/images/add_marks.png') no-repeat center;background-size: cover;min-height: 10vh;"
        class="buttoncard">
                <strong><label class="bottom-right-text">Monthly Result</label></strong>
        </div>

        <div style="background: url('../static/images/add_marks.png') no-repeat center;background-size: cover;min-height: 10vh;"
            class="buttoncard">
            <strong><label class="bottom-right-text">Course Progress</label></strong>
        </div>

</div>

{% endblock %}
