{% extends "base.html" %}

{% block main_title%}<p class="font-weight-bold">USERS</p>{% endblock %}

{% block sidebarlist %}
<li class="sidebar-list-item" onclick="gotoDashboard('{{session_id}}')">
    <a>
        <span class="material-icons-outlined">dashboard</span> Dashboard
    </a>
</li>
<!--
<li class="sidebar-list-item">
    <a href="/">
        <span class="material-icons-outlined">inventory_2</span> Products
    </a>
</li>
<li class="sidebar-list-item">
    <a href="/">
        <span class="material-icons-outlined">fact_check</span> Inventory
    </a>
</li>
<li class="sidebar-list-item">
    <a href="/">
        <span class="material-icons-outlined">add_shopping_cart</span> Purchase Orders
    </a>
</li>
<li class="sidebar-list-item">
    <a href="/">
        <span class="material-icons-outlined">shopping_cart</span> Sales Orders
    </a>
</li>
<li class="sidebar-list-item">
    <a href="/">
        <span class="material-icons-outlined">poll</span> Reports
    </a>
</li> -->
<li class="sidebar-list-item" onclick="gotoUsers('{{session_id}}')">
    <a>
        <span class="material-icons-outlined">face</span> Users
    </a>
</li>
{% endblock %}
{% block quickbutton %} <button class="quickbutton">+ Add User</button>{% endblock %}

{% block main_cards %}

<div class="user-card">

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Role</th>
                <th style="text-align: center;">Edit</th>
                <th style="text-align: center;">Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for usr in users %}
            <tr>
                <td>{{usr.id}}</td>
                <td>{{usr.username}}</td>
                <td>{{usr.role.value}}</td>
                <td style="text-align: center;"><span class="edit-icon"></span></td>
                <td style="text-align: center;"><span class="delete-icon"></span>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}