{% extends "base.html" %}

{% block main_title%}USERS{% endblock %}

{% block quickbutton %} 
<button onclick="gotoAddUser('{{session_id}}')" class="quickbutton">+ Add User</button>
{%
endblock %}

{% block main_cards %}

<div class="user-card">

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Role</th>
                <th style="text-align: center;">Edit</th>
                <th style="text-align: center;">Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for usr in users %}
            <tr>
                <td>{{usr.id}}</td>
                <td>{{usr.username}}</td>
                <td>{{usr.role.value}}</td>
                <td style="text-align: center;"><span onclick="editUser('{{usr.id}}','{{session_id}}')"
                        class="edit-icon"></span>
                </td>
                <td style="text-align: center;"><span onclick="deleteUser('{{usr.id}}','{{session_id}}')"
                        class="delete-icon"></span>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}